.signin {
  background-image: url('../../images/common-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.signin .bg {
  padding: 20px 0px 40px;
  background-image: linear-gradient(to top, var(--color-1), #00000046);
}
.signin .bg .ctn .form {
  background-color: var(--color-3);
  padding: 14px;
  border-radius: 10px;
  width: 100%;
}
.signin .bg .ctn .form h1 {
  color: var(--text-1);
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}
.signin .bg .ctn .form p {
  color: var(--text-2);
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}
.signin .bg .ctn .form .big_comp {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 20px;
}
.signin .bg .ctn .form .big_comp li {
  font-size: 1.5rem;
  border: 1px solid var(--borders);
  padding: 7px;
  cursor: pointer;
  transition: 0.2s all;
}
.signin .bg .ctn .form .big_comp li:hover {
  background-color: var(--text-1);
}
.signin .bg .ctn .form .big_comp :nth-child(2) .i {
  color: #0080ff;
}
.signin .bg .ctn .form .big_comp :nth-child(3) .i {
  color: #03a9f4;
}
.signin .bg .ctn .form .border {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--borders);
}
.signin .bg .ctn .form .sw {
  margin: 0px;
}
.signin .bg .ctn .form .sw :nth-child(2) {
  color: var(--color-2);
  cursor: pointer;
}
.signin .bg .ctn .form form button[type="submit"] {
  width: 100%;
  margin-bottom: 20px;
}
.signin .bg .ctn .form form button[type="submit"]:focus {
  outline: 1px solid var(--color-2);
}
@media (min-width: 768px) {
  .signin .bg .ctn .form {
    width: 440px;
    margin: 0 auto;
  }
}