.todays-picks {
  background-color: var(--color-1);
}
.todays-picks .ctn > .title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--borders);
  padding: 20px 0px;
}
.todays-picks .ctn > .title h1 {
  color: var(--text-1);
  font-size: 2rem;
  font-weight: 700;
}
.todays-picks .ctn > .title button {
  flex-shrink: 0;
  white-space: nowrap;
}
.todays-picks .ctn .ffilteration {
  display: flex;
  padding: 20px 0px;
  column-gap: 10px;
  overflow-x: auto;
  border-bottom: 1px solid var(--borders);
}
.todays-picks .ctn .ffilteration button {
  flex-shrink: 0;
}
.todays-picks .ctn .ffilteration::-webkit-scrollbar {
  display: none;
}
.todays-picks .ctn .ab-cards {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px 40px;
}
.todays-picks .ctn .ab-cards .borderr {
  overflow: hidden;
  padding: 1px;
  border-radius: 10px;
  background-color: var(--borders);
  transition: 0.2s all;
}
.todays-picks .ctn .ab-cards .borderr:hover {
  background-image: linear-gradient( 150deg, #f2cb88, #db334a, rgb(81 66 252));
}
.todays-picks .ctn .ab-cards .borderr .box {
  background-color: var(--color-3);
  padding: 14px;
  cursor: pointer;
  border-radius: 10px;
}
.todays-picks .ctn .ab-cards .borderr .box .ab-img img {
  width: 100%;
  border-radius: 10px;
}
.todays-picks .ctn .ab-cards .borderr .box .ab-img {
  position: relative;
}
.todays-picks .ctn .ab-cards .borderr .box .ab-img .likes {
  position: absolute;
  right: 4px;
  top: 4px;
  transition: 0.2s all;
}
.todays-picks .ctn .ab-cards .borderr .box .title {
  font-size: 1.2rem;
  color: var(--text-1);
  padding: 16px 0px 16px;
  transition: 0.2s all;
}
.todays-picks .ctn .ab-cards .borderr:hover .box .title {
  color: var(--color-2);
}
.todays-picks .ctn .ab-cards .borderr .box .persons {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 0px 0px 20px;
  border-bottom: 1px solid var(--borders);
}
.todays-picks .ctn .ab-cards .borderr .box .persons .img {
  flex-shrink: 0;
}
.todays-picks .ctn .ab-cards .borderr .box .persons .img img {
  border-radius: 50%;
  width: 40px;
}
.todays-picks .ctn .ab-cards .borderr .box .data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todays-picks .ctn .ab-cards .borderr .box .data .a, .b {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 400;
}
.todays-picks .ctn .ab-cards .borderr .box .data .a {
  color: var(--text-1);
}
.todays-picks .ctn .ab-cards .borderr .box .data .b {
  color: var(--text-2);
}
.todays-picks .ctn .ab-cards .borderr .box .buttons {
  display: flex;
  margin-top: 10px;
}
.todays-picks .ctn .ab-cards .borderr .box .buttons .b_1, .b_2 {
  font-size: 0.8rem;
  border-radius: 0px;
}
.todays-picks .ctn .ab-cards .borderr .box .buttons .b_1 {
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.todays-picks .ctn .ab-cards .borderr .box .buttons .b_2 {
  flex-grow: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--color-2);
}
.todays-picks .ctn .ab-cards .borderr .box .buttons .b_2:hover {
  color: var(--color-2);
  background-color: transparent;
  flex-grow: 1;
}
.todays-picks .ctn .ab-reload {
  display: flex;
  justify-content: center;
  padding: 20px 0px 40px;
}