.navbar {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 15px 0px;
  background-color: var(--navbar-1);
}
.navbar .ctn {
  display: flex;
  column-gap: 20px;
  position: relative;
}
.navbar .ctn .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .ctn .logo img {
  display: block;
  max-height: 50px;
}
.navbar .ctn .logo h1 {
  color: var(--text-1);
  font-size: 1.6rem;
}
.navbar .ctn .search {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.navbar .ctn .search .i {
  font-size: 1.5rem;
  column-gap: 10px;
  color: var(--text-2);
  cursor: pointer;
  transition: 0.2s color;
}
.navbar .ctn .search .i:hover {
  color: var(--text-1);
}
.navbar .ctn .search input {
  height: 100%;
  width: calc(100% - 30px);
  left: 15px;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: var(--navbar-menu-pages);
  color: var(--text-1);
  padding: 0px 15px;
  z-index: -1;
  opacity: 0;
  width: 0px;
  transition: 0.2s all;
}
.navbar .ctn .search:hover input {
  z-index: 1;
  opacity: 1;
  width: calc(100% - 30px);
  left: 15px;
}
.navbar .ctn > .menu {
  display: flex;
  gap: 30px;
  display: none;
}
.navbar .ctn .menu > .ln {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.1s;
  font-size: 1em;
  color: var(--text-2);
  position: relative;
}
.navbar .ctn .menu > .ln:hover {
  color: var(--text-1);
}
.navbar .ctn > .menu > .ln > .menu-pages {
  background-color: var(--navbar-menu-pages);
  position: absolute;
  top: 100%;
  left: -20px;
  width: 240px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding: 20px 0px 20px 30px;
  display: none;
  z-index: 3;
}
.navbar .ctn > .menu > .pages:hover > .menu-pages {
  display: flex;
}
.navbar .ctn > .menu > .ln > .menu-pages .lp {
  color: var(--text-2);
  cursor: pointer;
  transition: color 0.1s;
}
.navbar .ctn > .menu > .ln > .menu-pages .lp:hover {
  color: var(--text-1);
}
.navbar .ctn .button {
  margin-left: auto;
  display: flex;
  align-items: center;
  display: none;
}
.navbar .ctn .button button {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.navbar .ctn .menu-phone-icon {
  display: flex;
  align-items: center;
  color: var(--text-2);
  font-size: 1.5rem;
  margin-left: auto;
  cursor: pointer;
  transform: 0.2s color;
}
.navbar .ctn .menu-phone-icon:hover {
  color: var(--text-1);
}
.navbar .bg {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  z-index: 1;
  overflow: auto;
}
.navbar .ab-menu-phone {
  position: absolute;
  top: 100%;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  transition: 0.3s all;
}
.navbar .ab-menu-phone .menu-phone {
  background-color: var(--navbar-1);
  padding: 10px 0px;
}
.navbar .ab-menu-phone .menu-phone .ln {
  font-size: 1.2rem;
  color: var(--text-2);
  padding: 10px 15px;
  cursor: pointer;
  transition: color 0.2s;
}
.navbar .ab-menu-phone .menu-phone .ln:hover {
  color: var(--text-1);
}
.navbar .ab-menu-phone .menu-phone .pages {
  padding: 0px;
}
.navbar .ab-menu-phone .menu-phone span {
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding: 10px 15px;
}
.navbar .ab-menu-phone .ab-menu-pages {
  overflow: hidden;
  transition: all 0.2s;
}
.navbar .ab-menu-phone .menu-phone .ab-menu-pages .menu-pages {
  background-color: var(--navbar-menu-pages-phone);
  padding: 10px 0px;
}
.navbar .ab-menu-phone .menu-phone .menu-pages .lp {
  font-size: 1.2rem;
  color: var(--text-2);
  padding: 10px 25px;
  cursor: pointer;
  transition: color 0.2s;
}
.navbar .ab-menu-phone .menu-phone .menu-pages .lp:hover {
  color: var(--text-1);
}
@media (min-width: 992px) {
  .navbar .ctn > .menu {
    display: flex;
  }
  .navbar .ctn .button {
    display: flex;
  }
  .navbar .ctn .menu-phone-icon {
    display: none;
  }
  .navbar .ctn .menu-phone {
    display: none;
  }
}