.footer {
  background-color: var(--color-3);
  color: var(--text-1);
  font-size: 1.2rem;
}
.i {
  color: var(--text-2);
  transition: 0.2s all;
}
.i:hover {
  color: var(--text-1);
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  display: block;
  max-height: 50px;
}
.logo h1 {
  font-size: 2rem;
  color: var(--text-1);
}
.li {
  color: var(--text-2);
  transition: 0.2s all;
}
.li:hover {
  color: var(--text-1);
}