@tailwind base;
@tailwind components;
@tailwind utilities;

/* start container */
.ctn {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} 
/*s end container */

/* start media query  */
/* Small */
@media (min-width: 768px) {
  .ctn {
      width: 750px;
      /* background-color: burlywood; */
  }
}
/* Medium */
@media (min-width: 992px) {
  .ctn {
      width: 970px;
      /* background-color: brown; */
  }
}
  /* Large */
@media (min-width: 1200px) {
  .ctn {
      width: 1170px;
      /* background-color: blue; */
  }
}
/* end media query */


.button_1 {
  display: block;
  font-size: 1em;
  color: #fff;
  padding: 12px 22px;
  background-color: rgb(81 66 252);
  border: 1px solid rgb(81 66 252);
  transition: all 0.2s;
  border-radius: 20px;
}
.button_2 {
  display: block;
  font-size: 1em;
  color: #fff;
  padding: 8px 22px;
  border: 1px solid rgb(81 66 252);
  transition: all 0.2s;
  border-radius: 20px;
}
.button_2:hover {
  background-color: rgb(81 66 252);
}