@tailwind base;
@tailwind components;
@tailwind utilities;

/* start container */
.ctn {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} 
/*s end container */

/* start media query  */
/* Small */
@media (min-width: 768px) {
  .ctn {
      width: 750px;
      /* background-color: burlywood; */
  }
}
/* Medium */
@media (min-width: 992px) {
  .ctn {
      width: 970px;
      /* background-color: brown; */
  }
}
  /* Large */
@media (min-width: 1200px) {
  .ctn {
      width: 1200px;
      /* background-color: blue; */
  }
}
/* end media query */

:root {
  --text-1: #e7e7e7;
  --text-2: #bbbbbb;
  --color-1: #141420;  
  --color-2: #5142fc;
  --color-3: #2c2c39;
  --borders: #777777;
  --color-inputs: #3c3c4e;
  --navbar-1: #2b315ed8;
  --navbar-menu-pages: #23284e;
  --navbar-menu-pages-phone: #1d2141d8;
  --bg: #000000d7;
}






body {
  background-color: var(--color-1);
}






/* button 1 */
.button_1 {
  display: block;
  font-size: 1rem;
  color: var(--text-1);
  padding: 12px 22px;
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
  transition: all 0.2s;
  border-radius: 20px;
}
/* button 2 */
.button_2 {
  display: block;
  font-size: 1rem;
  color: var(--text-1);
  padding: 8px 22px;
  border: 2px solid var(--borders);
  transition: all 0.2s;
  border-radius: 20px;
}
.button_2:hover {
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
}






/* likes */
.likes {
  background-color: var(--text-1);
  border-radius: 10px;
  display: flex;
  width: fit-content;
  height: fit-content;
  column-gap: 6px;
  padding: 6px;
}
.likes .i {
  font-size: 1rem;
}
.likes .number-likes {
  font-size: 0.8rem;
  font-size: 600;
}